{% extends 'adminheaderFooter.html' %}
<!-- {% load static %} -->
{% block content %}

<style>
  body{
    background-color: gray;
  }

</style>

<body>
  <center>
    <h2>User Details</h2>
    <table border="1" class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Job Status</th>
      </tr>
      {% for ausers in appliedusers %}
      <tr>
        <td>{{ ausers.candidate_id.Name }}</td>
        <td>{{ ausers.candidate_id.Email }}</td>
        {% if ausers.canacel == '1' %}
        <td>Cancelled</td>
        {% else %}
        <td>Application Active</td>
        {% endif %}
        <td >
          <a href="../AddInterviewDetails/{{ ausers.application_id }}" class="btn btn-info">Add Interview Details</a>
        </td>
        <td>
          <a href="../editInterviewDetails/{{ ausers.application_id }}" class="btn btn-success">Edit</a>
        </td>
        <td>
          <a href="../chat/{{ ausers.application_id }}" class="btn btn-danger">Chat</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </center>
</body>

{% endblock %}