<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Response From Admins For Complaints</th>
                
            </tr>
        </thead>
            {% for response in complaintResponse %}
            <tr>
                <!-- <td>{{ complaint.id }}</td> -->
                <td>{{ response.reply }}</td>
            </tr>
            {% endfor %}

    </table>
</body>
</html>