{% extends 'userheaderFooter.html' %}
<!-- {% load static %} -->
{% block content %}
<style>
    body{
        background-color: gray;
    }
</style>
<body>
    <center>
    <table border="1" class="table table-striped" style="width: 300px;border: 1px solid black;">
        <thead>
            <tr>
                <th>Response From Admins For Complaints</th>
                
            </tr>
        </thead>
            {% for response in complaintResponse %}
            <tr>
                <!-- <td>{{ complaint.id }}</td> -->
                <td>{{ response.reply }}</td>
            </tr>
            {% endfor %}

    </table>
</center>
</body>
{% endblock %}
