{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Company</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'HomeUsers/Home/img/core-img/favicon.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'HomeUsers/Home/style.css' %}">

</head>

<body>
    <!-- Preloader -->


    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="{% static 'HomeUsers/Home/index.html' %}" class="nav-brand">
                            <h2 style="color: white;font-size: 1.1rem;width: 200px;">Resume Builder</h2>
                        </a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="{% url 'CompanyPage' %}">Home</a></li>
                                    <li><a href="#">More</a>
                                        <ul class="dropdown">
                                            <!-- Corrected line below to include the job_id in the URL -->
                                            <li><a href="{% url 'Appliedusers' %}">Applicants</a></li>
                                            <li><a href="{% url 'VacancyTable' %}">Vacancies</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'Vacancy' %}">Add Vacancy</a></li>
                                    <li><a href="{% url 'logouts' %}">Logout</a></li>
                                    <li>
                                        <a href="{% url 'viewCompanyProfile' %}" class="btn btn-info">View Profile</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% block content %}
    {% endblock %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <!-- ##### Contact Area Start ##### -->

    <!-- ##### Contact Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <a href="#"><h2 style="color: white;font-size: 1.1rem;width: 200px;">Resume Builder</h2></a>
                    <p class="copywrite-text"><a
                            href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved 
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>


            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'HomeUsers/Home/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'HomeUsers/Home/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'HomeUsers/Home/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'HomeUsers/Home/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'HomeUsers/Home/js/active.js' %}"></script>
</body>

</html>