{% extends 'userheaderFooter.html' %}
<!-- {% load static %} -->
{% block content %}
<style>
    body{
        background-color: gray;
    }
</style>
  <body>
    <center>
    <table border="1" class="table table-striped" style="width: 300px;border: 1px solid black;">
      <tr>
        <th>Interview Details</th>
      </tr>
      {% for d in interDetails %}
        <tr>
          <td>{{ d.interviewDetails }}</td>
        </tr>
      {% endfor %}
    </table>
  </center>
  </body>
{% endblock %}
