{% extends 'adminheaderFooter.html' %}
<!-- {% load static %} -->
{% block content %}
    <style>
       
        body {
            background-color: rgba(66, 66, 66, 0.774);

        }
        .profile-card {
            background-color: rgb(56, 55, 55);
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgb(0, 0, 0);
            padding: 20px;
            width: calc(33.333% - 40px); /* Three cards per row, accounting for gap */
            display: flex;
            flex-direction: column;
            color: rgb(29, 134, 148);
        }
        .profile-card h3 {
            margin-bottom: 15px;
            color: #c7c6bc;
            text-align: center;
            font-size: 2rem;
        }
        .profile-card p {
            font-size: 1.2rem;
            color:rgb(250, 252, 252);
            text-align: left;
            
        }
        
        .profile-card a {
            align-self: center;
            text-decoration: none;
            background-color: #007bff;
            color: rgb(245, 241, 241);
            padding: 10px 15px;
            border-radius: 5px;
            padding: 10px;
            width: 20%;
            text-align: center;
            
        }
        @media (max-width: 768px) {
            .profile-card {
                width: calc(50% - 40px); /* Two cards per row on smaller screens */
            }
        }
        @media (max-width: 480px) {
            .profile-card {
                width: 100%; /* Full width on very small screens */
                margin-bottom: 20px;
            }
        }
    </style>
   
<body>
    <center>  {% for da in data %}
    <div class="profile-card">
        <h3>{{da.Organization_Category}}</h3>
        <p>Business Name:   {{ da.Business_Name }}</p>
        <p>Category:        {{ da.Organization_Category }}</p>
        <p>Address:         {{ da.Address }}</p>
        <p>State:           {{ da.States }}</p>
        <p>Pincode:         {{ da.Pincode }}</p>
        <p>Number:          {{ da.Number }}</p>
        <p>Email:           {{ da.Email }}</p>
        <a href="../editCompanyProfile/{{ da.regid }}">Edit</a>
    </div>
    {% endfor %}
</center>
  
</body>
{% endblock %}
