{% extends 'userheaderFooter.html' %}
<!-- {% load static %} -->
{% block content %}
<style>
 
    body {
        background-color: rgba(49, 127, 146, 0.774);
        /*width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px; */
    } 
    .profile-card {
        background-color: rgb(53, 48, 48) !important;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
        padding: 20px;
        width: calc(33.333% - 40px); /* Three cards per row, accounting for gap */
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1.2rem;
        color: rgb(14, 12, 12) ;
        /* width: auto 200px; */
    }
    .profile-card .title_name {
        margin-bottom: 15px;
        color: #e2dede;
        text-align: center;
        font-size: 2rem;
    }
    .profile-card a {
        align-self: center;
        text-decoration: none;
        background-color: #007bff;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        padding: 10px;
        width: 25%;
        text-align: center;
        font-size: 1.2rem;
        
    }
    @media (max-width: 768px) {
        .profile-card {
            width: calc(50% - 40px); /* Two cards per row on smaller screens */
        }
    }
    @media (max-width: 480px) {
        .profile-card {
            width: 100%; /* Full width on very small screens */
            margin-bottom: 20px;
        }
    }
</style>
<body>
    
        <center>

            {% for da in data %}
            <div class="profile-card">
                <h3 class="title_name">{{da.Organization_Category}}</h3>
                <p>Name:   {{ da.Name }}</p>
                <p>Gender:          {{ da.Gender }}</p>
                <p>Date_Of_Birth:         {{ da.Date_Of_Birth }}</p>
                <p>Education:           {{ da.Education }}</p>
                <p>Skills:         {{ da.Skills }}</p>
                <p>Conatact_Number:          {{ da.Conatact_Number }}</p>
                <p>Email:           {{ da.Email }}</p>
                <a href="../editCompanyProfile/{{ da.regid }}">Edit</a>
            </div>
            {% endfor %}
       
        </center>
</body>
{% endblock %}